:root {
  --cream: #ecdbad;
  --sage: #c15143;
  --deepgreen: #4b402a;
  --taupe: #ccdbb2;
  --eggshell: #f1facf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--taupe);
}

#intro {
  margin-bottom: 10rem;
  max-width: 1000px;
  margin: 0 auto;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

.name span {
  display: block;
  font-size: 4rem;
}

.profile {
  margin-bottom: 1rem;
}

#intro h2 {
  font-size: 3rem;
  font-weight: normal;
}

#experience ul {
  font-size: 1.2rem;
  padding: 1rem;
}

#experience li {
  list-style-type: none;
}

#hire {
  background-color: var(--sage);
}

#hire .container {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0;
}

#hire p:last-child {
  margin-top: 3rem;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.main-header ul {
  display: flex;
  gap: 1rem;
  align-items: center;
}

ul {
  list-style-type: none;
}

.main-header ul li a {
  text-decoration: none;
  color: var(--deepgreen);
}

.main-header ul li:last-child a {
  background-color: orangered;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
}

.main-header ul li:last-child a:hover {
  background-color: red;
}
